/* checkout page css starts */
.checkout-main-sec{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.checkout-left-wrap{
  /* border-right: 2px solid #EDEDED; */
  background: #fff;
  width: 56%;
}
.checkout-left-inner-wrap{
  max-width: 700px;
  margin-left: auto;
  padding: 60px 60px 40px 0;
}
.checkout-right-wrap{
  border-left: 2px solid #EDEDED;
  background: #fafafa;
  width: 44%;
  min-height: 100vh;
}
.checkout-right-inner-wrap{
  max-width: 500px;
  margin-right: auto;
  padding: 60px 0 40px 60px;
}
.checkout-prod-wrap{

}
.checkout-prod-wrap .ckp-single-wrap{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.ckp-single-wrap .ckp-desc-wrap{
  display: flex;
  align-items: center;
  flex: 1;
}
.ckp-desc-wrap .ckp-desc-img-wrap{
  max-width: 65px;
  min-width: 65px;
  position: relative;
  text-align: center;
  background: #fff;
  padding: 10px 0;
  border: 1px solid #eee;
  border-radius: 3px;
}
.ckp-desc-img-wrap img{
  max-width: 40px;
}
.ckp-desc-img-wrap .ckp-qty{
  position: absolute;
  background: #727272e6;
  color: #fff;
  height: 22px;
  width: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: 50%;
  font-size: 14px;
  top: -10px;
  right: -10px;
}
.ckp-desc-wrap .ckp-pname{
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
  margin-right: 5px;
  color: #000;
}
.ckp-single-wrap .ckp-price{
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
.checkout-discount-wrap{
  padding: 25px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout-discount-wrap input{
  flex-grow: 1;
  margin-right: 10px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
}
.checkout-discount-wrap button{
  background: #d6d3d3;
  border: none;
  height: 40px;
  border-radius: 5px;
  min-width: 90px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
.checkout-total-wrap{
  padding: 25px 0;
}
.ck-subtotal-single{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.ck-subtotal-single label{
  font-size: 16px;
  color: #000;
}
.ck-total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding: 20px 0;
}
.ck-total label{
  font-size: 16px;
  color: #000;
}
.ck-total p{
  font-size: 20px;
  color: #000;
  font-weight: 600;
}
/* checkout right css ends */
/* checkout left css starts */
.checkout-logo {
  display: inline-block;
  margin-bottom: 15px;
}
.checkout-tabs-wrap{

}
.ck-tab-link{
  color: #000;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin-right: 10px;
}
.ck-tab-link::after{
  content: '';
  width: 7px;
  height: 7px;
  display: inline-block;
  border-top: 2px solid #6b6b6b;
  border-right: 2px solid #6b6b6b;
  transform: rotate(45deg);
  margin-left: 8px;
  margin-bottom: 1px;
}
.ck-tab-link:nth-last-child(1)::after{
  display: none;
}
.ck-tab-link.active, .ck-tab-link:hover{
  color: #e7487f;
}
.checkout-tabs-content{
  margin-top: 20px;
}
.tab-content-inner-wrap{

}
.cktab-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.cktab-head h3{
  font-size: 16px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}
.cktab-head h4{
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
.cktab-head h4 a{
  color: #e7487f;
}
.cktab-body{

}
.details-form {
    margin-top: 5%;
}
.cktab-body h5{
  font-size: 16px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px
}
.cktab-field-wrap{
  margin-bottom: 10px
}
.cktab-field-wrap label{
  color: #000;
  font-size: 14px;
  margin-bottom: 4px;
}
.cktab-field-wrap label span{
  font-size: 12px;
  color: red;
}
.cktab-field-wrap input, .cktab-field-wrap select{
  width: 100%;
  font-size: 14px;
  color: #000;
  padding: 5px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #bdbdbd;
}
.cktab-btn-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.cktab-btn-wrap .return-cart{
  color: #e7487f;
  font-size: 16px;
}
.cktab-btn-wrap .return-cart i{
  font-size: 14px;
}
.cktab-btn-wrap .cktab-continue-btn{
  background: #e4e4e4;
  display: inline-block;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  border-radius: 4px;
  line-height: 1;
}
/* second tab css  */
.ck-shipping-wrapper{
  padding: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.ck-ship-single{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  padding: 15px 0;
}
.ck-ship-single:nth-child(1){
  padding-top: 0;
}
.ck-ship-single:nth-last-child(1){
  border-bottom: none;
  padding-top: 15px;
  padding-bottom: 0;
}
.ck-ship-single h6{
  margin-right: 30px;
  min-width: 60px;
  font-size: 14px;
  color: #737373;
}
.ck-ship-single .sk-ship-single-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.sk-ship-single-inner p{
  font-size: 14px;
  color: #000;
}
.sk-ship-single-inner a{
  font-size: 14px;
  color: #e7487f;
}
.ship-heading{
  font-size: 16px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin: 30px 0 15px 0;
}
.ck-ship-single input[type=radio]{
  margin-right: 10px;
}
.ck-ship-single span{
  font-size: 14px;
  color: #000;
}
.ship-text{
  font-size: 14px;
  color: #636363;
}
.shipping-method{

}
.shipping-card{
  border: 1px solid #d9d9d9;
  border-radius: 5px 5px 0 0;
}
.shipping-card:nth-last-child(1){
  border-radius: 0 0 5px 5px;
}
.shipping-card-header{
  padding: 15px;
}
.shipping-card-header label{
  display: block;
}
.shipping-card-header input{

}
.shipping-card-header label img{
  max-width: 110px;
}
.shipping-card-header .custom-control-label::after, .shipping-card-header .custom-control-label::before{
  top: 8px;
}
.shipping-card-body{
  border-top: 1px solid #d9d9d9;
  background: #fafafa;
  padding: 15px;
}
.shipping-card-body input{
  width: 100%;
  font-size: 14px;
  color: #000;
  padding: 10px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #bdbdbd;
  margin-bottom: 10px;
}
.shipping-card-body .paypal-wrapper{
  text-align: center;
  padding: 20px
}
.paypal-wrapper img{

}
.paypal-wrapper p{
  max-width: 450px;
  margin: 10px auto 0;
}
/* checkout left css ends */
/* checkout page css ends */
